body {
  font-family: Arial, sans-serif;
  background-color: #cea4c5;
}

.produits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.produit {
  background: rgb(201, 144, 187);
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.produit:hover {
  transform: scale(1.05);
}

.produit img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.produit p {
  margin-top: 10px;
  font-weight: bold;
}
.collection-intro{
  padding:80px 20px;
  background:linear-gradient(135deg,#f6e6fa,#ede0f7);
  text-align:center;
}

.collection-intro h1{
  font-size:42px;
  color:#6a1b9a;
  margin-bottom:20px;
  font-weight:700;
}

.collection-intro p{
  font-size:20px;
  color:#444;
  max-width:850px;
  margin:0 auto;
  line-height:1.8;
}

.collection-intro strong{
  color:#6a1b9a;
  font-weight:700;
}